.order__item {
    display: flex;
    margin-bottom: 30px;
}

.order__item-cover {
    width: 200px;
    margin-right: 30px;
}

.order__item-title {
    font-size: 24px;
    font-weight: bold;
}

.order__item-price {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}

.cart__item-delete-icon {
    cursor: pointer;
    margin-left: 5px;
}